body{
   margin-top: 70px;
}
/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
.footer{
  text-align: center;
}

/* Textarea not resizeable */
textarea {
   resize:none
}

#googleMap{
  width:100%; 
  height:500px;
  margin:10px 0;
}
