*{
  padding: 0px;
  margin: 0px;
  font-family: 'Josefin Sans';
}

body{
  background-image: url(https://wallup.net/wp-content/uploads/2017/11/17/377057-vaporwave-aesthetic-748x421.jpg);
  background-size: 100%;
}

.footer{
  display: block;
  text-align: center;
}

.dropdown{
  background-color: #000000;
  padding-top: 15px;
  padding-right: 10px;
  height: 60px;
}

#dropdown{
  background-color: transparent;
  border: none;
}

.rata-tengah {
  text-align: center;
  margin : 20px;
}
.judul {
  text-transform:uppercase;
  margin-bottom: 50px;
  margin-top: 50px;
}
